* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2B2D2F;
}

html {
    font-family: 'IM Fell Double Pica SC', serif;   
}

.top-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    background: var(--main-color);
    color: white;
    font-size: 0.8rem;
}

#busqueda {
    width: 500px;
    height: 25px;
    border-radius: 10px;
}

.lado-izquierdo {
    display: flex;
    align-content: center;
    gap: 15px;
}

#main-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.fa-brands, .fa-solid {
    color: black;
}

.lado-derecho > button{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 80px;
    background-color: var(--main-color);
    height: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
}

.fa-cart-shopping {
    color: white;
}

.contenedor-principal > h2 {
    position: absolute;
    top: 300px;
    left: 200px;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'IM Fell Double Pica SC', serif;
    text-shadow: #2B2D2F;  
    font-style: italic;
    border: 1px solid white;
    padding: 20px;
}


.main-img {
    width: 100%;
    height: 600px;
}

.contenedor-principal {
    text-align: center;   
}


.contenedor-productos {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

main {
    padding-top: 20px;
    padding-bottom: 80px;

}

#titulo {
    text-align: center;
    padding: 40px;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 400px;
    width: 150px;
    gap: 25px;
}

.informacion {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    color:white;
}

.informacion h2 {
    text-align: center;
    padding-bottom: 20px;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 13px;
}

.productos {
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-wrap: wrap;
    padding: 0 200px 200px 200px;
}

.parte-derecha > h3 {
    padding-bottom: 10px;
}

main > h2 {
    text-align: center;
    padding-bottom: 20px;
}

.parte-abajo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.muestra {
    display: flex;
    justify-content: space-evenly;
}

.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.contenedor-imagenes > img {
    border-radius: 10px;
}

.agregar {
    align-self: center;
    width: 100px;
}

.img-productos {
    width: 180px;
    height: 180px;
}

#semillas {
    width: 140px;
    padding-left: 25px;
}

#compra {
    position: relative;
    left: 50%;
    width: 140px;
    background-color: var(--main-color);
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
}


footer {
    width: 100%;
    height: 125px;
    font-family: 'IM Fell Double Pica SC', serif;
    color: white;
    text-align: center;
    padding-top: 2%;
    background-color: var(--main-color);
}